.container{
  justify-content: center;
  align-items: center;
  border: 8px double black;
  padding: 0% 0% 10% 5%;
  width: 60vw;
}
#head{
  font-size: 40px;
  letter-spacing: 4px;
  text-align: center;
  
}
.row1,.row3,.row4{
  border: 1px solid black;
  position: absolute;
  font-weight:600;

}
.row2 span{
  font-weight:600 ;
}
input{
  width:250px;
  height: 14px 6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

Firefox
input[type=number] {
-moz-appearance: textfield;
}

